---
---
<nav class="bg-slate-950">
    <ul class="flex p-5" style="font-family: 'sofia-pro';">
        <li class="text-white">Das Logo</li>
        <li><a href="/" class="ps-30 p-10 text-white">Home</a></li>
        <li><a href="/workout" class="p-10 text-white">Workout</a></li>
        <li><a href="/friends" class="p-10 text-white">Friends</a></li>
    </ul>
</nav>