---

const { href, title, body } = Astro.props;

import PopularWorkout from './PopularWorkout.astro';
---
<h2 class="text-white text-2xl pt-20 p-5">Popular</h2>
<nav>
	<ul class="flex">


		<li style="" class="p-5 ml-5 w-72 h-72 bg-slate-950 rounded-lg"><img src="/pexels-li-sun-2294361.jpg" class="object-cover h-54 w-54 rounded-lg"/></li>

		<a href="/absworkout"><PopularWorkout href="/pexels-li-sun-2294361.jpg" title="Abs Workout" body="A quick Abs workout"/></a>
	</ul>
</nav>