---

const { href, title, body } = Astro.props;

import PopularWorkout from './PopularWorkout.astro';
---
<h2 class="text-white text-2xl pt-20 p-5">Popular</h2>
<nav>
	<ul>


		<li><PopularWorkout href="" body="A nice workout" title="Workout 1"/></li>
	</ul>
</nav>